.header-title {
    color: #ff9800;
    font-size: 100px;
    font-weight: bolder;
    text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;
}

.header-info {
    position: relative;
    top:-600px;
    margin: auto;
    width: 600px;
}

.header-avator {
    text-align: center;
    margin: auto;
    top: -106px;
    width: 75%;
    padding: 10px;
    font-size: 16px;
    opacity: .88;
    background: rgba(230, 244, 249, .8);
    z-index: 1;
    animation: b 1s ease-out;
    position: relative;
    border-radius: 10px 10px 0 0;
}

.header-text {
    text-align: center;
    margin: auto;
    top: -236px;
    width: 75%;
    padding: 10px;
    font-size: 16px;
    opacity: .98;
    background-color: #e8f2f6;
    z-index: 1;
    animation: b 1s ease-out;
    position: relative;
    border-radius: 0 0 10px 10px;
}

.menu {
    width: 500px;
    position: absolute;
    top: 15px;
    left: 10%;
    color: #FFFFFF;
}

.header-img {
    width: 100%;
    height: 630px;
}

.site-master-description {
    margin: 20px auto 0 auto;
    font-size: 18px;
    height: 50px;
    font-weight: 700;
    display: inline-block;
    color: #97dffd;
    background-color: #e8f3f7;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;
}