.flex {
    display: flex;
    align-items: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-background {
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 1px solid #e4e7ed;
    padding: 10px 20px;
    box-shadow: 2px 8px 10px #ededed;
}